* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: black;
}
.main {
    background-image: url("images/net.jpg");
    background-position: center center;
    background-size: max(1300px, 110vw);
    background-repeat: no-repeat;
    height: 120vh;
    position: relative;
    
}

.main .box {
    height: 120vh;
    width: 100%;
    opacity: 0.74;
    position: absolute;
    top:0;
    background-color: black;
}
nav {
    max-width: 74vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
   
    align-items: center;
    height: 100px;
}
nav img {
    width: 150px;
    position: relative;
    z-index: 10;
}
nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(90% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}
.hero> :first-child {
    font-family: 'Poppins', sans-serif;
    font-weight: 950;
    font-size: 44px;
    text-align: center;
}
.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.separation {
    height: 7px;
    background-color: rgb(43, 40, 40);
    position: relative;
    margin-top: auto;
    z-index: 20;
}


.but {
	
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}
.btn {
     padding: 8px 32px;
    font-weight: 500;
	font-size: 15px;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
   
}

.btn-red-sm {
	 padding: 8px 10px;
    background-color: red;
    color: white;
	border: none;
}
.btn-red {
    background-color: red;
    color: white;
    padding: 14px 26px;
    font-size: 25px;
    border-radius: 4px;
    font-weight: 500;
    border: none;
}

.hero-buttons {
    display: flex;
    
    align-items: center;
    justify-content: center;
    gap: 9px;
}
.main input {
    
    
    padding: 18px 140px 18px 18px; /* 17px 80px;*/
    color: rgb(247, 240, 240);
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    background-color: rgba(23,23,23, 0.5);
    border: 1px solid rgba(246, 238, 238, 0.5);
    
}
.first {
    display: flex;
    justify-content: center;
    max-width: 80vw;
    margin: auto;
    color: white;
    
    align-items: center;
}
.first .text {
    display: flex;
    
    color: white;
    margin-top: 10%;
    margin-left: 2%;
    gap: 10px;
}
.secImg {
    position: relative;
    top: 70px;
}
.secImg img {
    width: 555px;
    position: relative;
    z-index: 8;
}
.secImg video {
    position: absolute;
    top: 100px;
    width: 555px;
    
    
}
section.first > div {
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
}
section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: 900;
}
section.first > div :nth-child(2){
    font-size: 24px;
    
}
.faq {
    background-color: black;
    color: white;
    padding: 60px;
    font-size: 24px;
}
.faqbox {
    display: flex;
    background-color: rgb(53, 50, 50);
    justify-content: space-between;
    max-width: 73vw;
    padding: 23px;
    margin: 20px  auto ;
    cursor: pointer;
}
.faqbox:hover {
    background-color: rgb(73, 70, 70);
}

.faqbox svg{
    filter: invert(1);
    
}
.faq h2 {
   text-align: center;
   font-size: 46px;
   font-weight: 900;
}

.heroo .read {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 45px;
}
.heroo .her-bttn {
    display: flex;
     align-items: center;
    justify-content: center;
    gap: 9px;
    margin-top: -29px;
}
.her-bttn input {
    padding: 18px 140px 18px 18px; /* 17px 80px;*/
    color: white;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    background-color: rgba(23,23,23, 0.5);
    border: 1px solid rgba(246, 238, 238, 0.5);
    
}
footer {
    color: rgb(187, 178, 178); ;
    max-width: 75vw;
    max-height: 80vh;
    margin: auto;
    padding: 14px;
}

.footer a {
    font-size: 15px;
    color: rgb(187, 178, 178); 
}
 footer .questions{
    padding: 34px 0;
 }

.questions a {
    color: rgb(187, 178, 178); ;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white; 
}
.footer-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*media queries*/

@media screen and (max-width: 1300px){

     nav {
        max-width: 90vw;
     }
     .main .box {
        height: 90vh;
     }
     .main {
        height: 90vh;
    }
     
    .first {
        flex-wrap: wrap;

    }
   .secimg img {
    width: 344px;
   }
   .secimg video {
    width: 344px;
   }
   .hero> :nth-child(1) {
   
    font-size: 27px;
    
}
.hero> :nth-child(2) {
   
    font-size: 19px;
    
}
.hero> :nth-child(3) {
   
    font-size: 19px;
    
}
.separation {
    position: relative;
    margin-top: -15.5px;
}
  
}


@media screen and (max-width: 1300px){
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
     gap: 40px;
}
.faq h2 {
    text-align: center;
    font-size: 32px;
}
footer {
    max-width: 90vw;
}
}

@media screen and (max-width: 786px){
.hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9px;
}
}